@use "./variables" as *;

.wrapper {
  width: 75%;
  margin: 0 auto;
}

header {
  color: $clr-lt;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: $clr-accent-alt;
  padding: 10px 25px;
  font-weight: bold;
  color: $clr-blk;
  text-decoration: none;
}