@use "./variables" as *;

.contact-section {
  text-align: center;
  background-color: $clr-green-alt;
  display: flex;
  height: 750px;
  h2 {
    margin-bottom: 20px;
  }
  div.socials-icon-container {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    width: 250px;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $clr-accent;
        transition: 0.2s;
        border-bottom: solid 1px $clr-accent;
      }
      &:focus {
        color: $clr-accent;
      }
    }
  }
  p {
    width: 60%;
    margin: 20px auto;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    input {
      margin-bottom: 20px;
    }
    textarea {
      margin-bottom: 20px;
    }
  }
}