// COLOR PALETTE
$clr-blk: #14070E;
$clr-green: #365C46;
$clr-green-alt: #B6CAA2;
$clr-lt: #F8F4F3;
$clr-accent: #F7E4DC;
$clr-accent-alt: #DB9999;

// FONTS
// font-family: 'Lora', serif;
// font-family: 'Roboto', sans-serif;
$primary-font: 'Lora', serif;
$secondary-font: 'Roboto', sans-serif;