// COLOR PALETTE
$clr-blk: #14070E;
$clr-green: #365C46;
$clr-green-alt: #a6c5a5;
$clr-lt: #F2F7F7;
$clr-accent: #DCF6F7;
$clr-accent-alt: #8FCCCE;
$clr-green-dk: #263e30;

// FONTS
// font-family: 'Lora', serif;
// font-family: 'Roboto', sans-serif;
$primary-font: 'Lora', serif;
$secondary-font: 'Roboto', sans-serif;